@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

#ctl00_pnlBR, #content+br, form#aspnetForm+br, form#aspnetForm+br+br, .brdcrmhdr, div#header_customWebMessages_paCustomMessages+br, #tblTopBar tr:first-child, #tblTopBar tr:last-child { display: none!important; }
body, #masterPageBody, #mainContainer, .widgetDropped { margin: 0!important; padding: 0!important; }
#mainContainer { overflow: hidden; }
#mainContainer * { box-sizing: border-box; font-family: 'Montserrat'!important; }
.ps-wrapper, .ps-header { box-sizing: content-box!important; }
input[type=text]::-ms-clear { display: none; }
:focus { outline: 0!important; }
.logo-container { padding: 0!important; }
#tblTopBar td.logo-container > a { display: inline; }
#search .cso-top-srch-box { background: none; border: none!important; box-shadow: none!important; margin: 0 4px 0 0; padding: 0; width: auto; }
#search input { background: rgba(0,0,0,0.1); border-radius: 50px; font: normal 14px 'Helvetica Neue', Arial, sans-serif; color: #000; }
.user-interaction li { border: none; border-radius: 50%; overflow: hidden; }
.user-interaction li:last-child { margin-right: 0; }

.cs-panel-flat { margin: 0!important; padding: 0!important; box-shadow: none; border-radius: 0; background: none!important; }
.cs-panel-flat .Panel_title { border-radius: 0!important; background: none!important;  }
.cs-panel-flat .Panel_contentMiddle { padding: 0!important; background-color: transparent!important; height: auto!important; }
.cs-panel-flat .Panel_content { border: none; background-color: transparent!important; }
.cs-panel-flat .CsList td { padding: 0; }
.tablerolloverNewUI, .CsList tbody tr:hover td { background: transparent!important; }
.cs-panel-flat .Panel_titleLeft, .cs-panel-flat .Panel_titleRight, .cs-panel-flat .Panel_contentLeft, .cs-panel-flat .Panel_contentRight, .cs-panel-flat .Panel_contentMiddle>br, .cs-panel-flat .Panel_footer, .cs-panel-flat .CsList th  { display: none; /* !!! */ }
.cs-panel-flat span[id$='_lblNoItems'] { margin-top: 0!important; }
.cs-subjwidg-list { margin: 0!important; }
.cs-subjwidg-list li.cat { margin: 0!important; }

.cs-panel-plain .Panel_titleMiddle div, .cs-panel-plain .Panel_titleMiddle h2 { border-bottom: none!important; text-transform: uppercase; }


.header { display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%; height: 400px; padding: 50px; margin: 0 auto 25px auto; background: url('../img/movati-header-4.jpg') no-repeat center / cover; box-sizing: border-box; }
.header > * { box-sizing: border-box; }
.header > div { display: block; position: relative; width: 400px; }
.header h2 { display: block; margin: 40px auto 20px auto; font: 700 18px 'Montserrat', sans-serif; color: #fff; }
.header p { display: block; font: 400 12px/21px 'Montserrat', sans-serif; color: #fff; }
.header ul { display: flex; flex: 1; justify-content: center; list-style-type: none; margin: 0; padding: 0; }
.header ul li { display: block; margin: 0 25px; text-align: center; }
.header ul li a { display: flex; align-items: flex-end; justify-content: center; min-width: 150px; height: 150px; background-repeat: no-repeat; background-size: 100px 100px; background-position: center; }

.header ul li:nth-of-type(1) a { background-image: url('../img/icon-learner-home.png'); }
.header ul li:nth-of-type(2) a { background-image: url('../img/icon-browse.png'); }
.header ul li:nth-of-type(3) a { background-image: url('../img/icon-communities.png'); }
.header ul li:nth-of-type(4) a { background-image: url('../img/icon-transcript.png'); }

.header ul li a span { display: block; font: 700 16px 'Montserrat', sans-serif; text-transform: uppercase; letter-spacing: 0.02em; color: #b3b3b1; }
.header ul li a:hover > span { color: #00a8cb; }


.cs-panel-plain { width: calc(100% - 25px)!important; margin: 0 auto 25px auto!important; }


@media all and (max-width: 1300px){
	.header { flex-wrap: wrap; height: auto; }
	.header > * { width: 100%!important; justify-content: center; text-align: center; }
	.header ul li a { background-size: 75px 75px; }
	.header ul li a span { font-size: 14px; }
	.header ul { flex-wrap: wrap; }
}

@media all and (max-width: 768px){
	.header ul li { margin: 0; }
	.header ul li a span { font-size: 12px; }
}